.game-field {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-field .row {
    height: 32px;
    display: flex;
}

.game-field .row .field {
    height: 32px;
    width: 32px;
    background: url('../img/open-field.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .field.wall {
    background: url('../img/closed-field.png');
}

.game-field .row .field.gater {
    background: url('../img/open-field.png');
}