.game-field {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-field .row {
    height: 32px;
    display: flex;
}

.game-field .row .field {
    height: 32px;
    width: 32px;
    background: url('../img/ground.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .field.wall {
    background: url('../img/wall.png');
}

.game-field .row .field.gate {
    background: url('../img/ground.png');
}

.game-field .row .field.monster {
    background: url('../img/enemy-facing-down-standing.png');
}

.game-field .row .field.hero[data-direction="down"] {
    background: url('../img/player-facing-down-standing.png');
}

.game-field .row .field.hero[data-direction="up"] {
    background: url('../img/player-facing-up-standing.png');
}

.game-field .row .field.hero[data-direction="right"] {
    background: url('../img/player-facing-right-standing.png');
}

.game-field .row .field.hero[data-direction="left"] {
    background: url('../img/player-facing-left-standing.png');
}
